@font-face {
  font-family: 'Figtree';
  src: url('./assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
  font-weight: 500, 800;
  font-style: normal;
}

:root {
  --font-main: 'Figtree', sans-serif;
  --font-weight-bold: 800;
  --color-primary: hsl(47, 88%, 63%);
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 7%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: var(--font-main);
  background-color: var(--color-primary);
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1fr auto 1fr;
  box-sizing: border-box;
  min-height: 100vh;
  margin: 0;
}

.card {
  grid-column-start: 2;
  grid-row-start: 2;
  align-self: start;

  display: flex;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 0.8rem;

  background-color: white;
  width: 100%;
  max-width: 370px;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid black;
  box-shadow: 8px 8px 0px 0px black;
}

.card h1 {
  font-size: 1.5rem;
}



.card-title {
  text-decoration: none;
  color: var(--color-black);
  transition: color 0.2s;
}

.card-title:hover {
  color: var(--color-primary);
  /* The yellow color */
  cursor: pointer;
}

.illustration {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}

.fine_text {
  width: 90%;
  margin-top: 0;
  font-size: 1rem;
}

.learning {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: var(--font-weight-bold);
  width: 35%;
  height: 2rem;
  background-color: hsl(47, 88%, 63%);
  border-radius: 10px;
}

footer {
  display: flex;
  align-items: center;
  width: 100%;
}

.author {
  font-weight: var(--font-weight-bold);
  margin-left: 1rem;
}
