@import "reset.css";

@font-face {
  font-family: "Outfit";
  font-style: normal;
  src: url("font/Outfit/Outfit-VariableFont_wght.ttf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* colors */
  --slate-900: #1F314F;
  --slate-500: #68778D;
  --slate-300: #D5E1EF;
  --white: #FFFFFF;

  /* font */
  --ff-outfit: "Outfit", san-serif;
  --ff-bold: 700;
  --ff-regular: 400;
}

.text-preset_1 {
  font-family: var(--ff-outfit);
  font-size: 1.375rem;
  font-weight: var(--ff-bold);
  line-height: 1.2;
  letter-spacing: 0px;
  text-align: center;
}

.text-preset_2 {
  font-family: var(--ff-outfit);
  font-weight: var(--ff-regular);
  font-size: 0.938rem;
  line-height: 1.4;
  letter-spacing: 0.2px;
  text-align: center;
}

body {
  min-height: 100vh;
  background-color: var(--slate-300);
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  gap: 16px;
}

.component {
  background-color: var(--white);
  width: 320px;
  height: 499px;
  padding: 16px;
  border-radius: 20px;
}

.qr_code {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
