/* Import the "reset.css" file to apply a consistent baseline style to the document. */
@import "reset.css";

/* Define custom fonts for the document */
@font-face {
  font-family: "Fraunces";
  src: url("fonts/Fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
  font-style: normal;
}


/* Define global CSS variables for reuse throughout the document */
:root {
  --mont-bold: 700;
  --mont-regular: 400;
  --fran-bold: 700;

  /* colors */
  --color-green-500: hsl(158, 36%, 37%);
  --color-green-400: hsl(158, 42%, 18%);
  --color-black: hsl(212, 21%, 14%);
  --color-gray: hsl(228, 12%, 48%);
  --color-cream: hsl(30, 38%, 92%);
  --color-white: hsl(0, 0%, 100%);

  /* fonts */
  --ff-mont: "Montserrat";
  --ff-fran: "Fraunces";
}

/* Style the body of the document */
body {
  min-height: 100vh;
  background-color: var(--color-cream);
  display: flex;
  gap: 2rem;
  flex-direction: column;
  place-items: center;
  place-content: center;
}

/* Style the card component */
.card {
  max-width: 22rem;
  min-height: 45rem;
  background-color: var(--color-white);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}

/* Style the image within the card */
.image {
  height: auto;
  width: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  display: block;
}

/* Style the details section of the card */
.details {
  padding: 25px 25px;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-around;
}

/* Style the product type text */
.product_type {
  font-family: var(--ff-mont);
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-size: 0.7rem;
  color: var(--color-gray);
}

/* Style the product name text */
.product_name {
  font-family: var(--ff-fran);
  font-weight: var(--fran-bold);
  line-height: 1.8rem;
  font-size: 2rem;
  margin-top: 0px;
}

/* Style the price section */
.price_section {
  width: 100%;
  display: flex;
  gap: 1rem;
}

/* Style the current price text */
.current_price {
  font-family: var(--ff-fran);
  font-weight: var(--fran-bold);
  line-height: 1.8rem;
  font-size: 2rem;
  color: var(--color-green-500);
}

/* Style the former price text */
.former_price {
  font-family: var(--ff-mont);
  color: var(--color-gray);
  font-size: 0.8rem;
  align-self: center;
}

/* Style the product description text */
.product_description {
  font-family: var(--ff-mont);
  color: var(--color-gray);
  font-size: 0.8rem;
}

/* button component */
.button_primary {
  width: 100%;
  height: 3rem;
  display: flex;
  place-content: center;
  place-items: center;
  gap: 0.5rem;
  background-color: var(--color-green-500);
  border-style: none;
  border-radius: 5px;

  color: var(--color-white);
  font-family: var(--ff-mont);
  font-weight: var(--mont-bold);
  font-size: 0.8rem;
}

/* Style the image within the button */
.card button img {
  width: 1rem;
  height: 1rem;
}

/* Style the button on hover */
.card button:hover {
  background-color: var(--color-green-400);
  cursor: pointer;
}
